@{
    ViewBag.Title = "ChangePassword";
}

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }
    else
    { 
    
    if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">@TempData["Error"]</div>
    }
    
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Reset Pasword</div>
                <div class="panel-body">
                    <div class="alert alert-warning">Your password must meet the security requirements for you to change it.</div>
                    <div class="col-md-6 well" style="padding-left:30px;">
                        <form method="post" class="form-horizontal">
                            <input type="hidden" name="token" id="token" value="@ViewBag.Token" />
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" />
                            </div>
                            <div class="form-group">
                                <label for="password-verify">Verify Password</label>
                                <input class="form-control" type="password" id="password-verify" name="password-verify" />
                            </div>
                            <div class="form-group">
                                <button id="btnChange" type="submit" class="btn btn-success">Change Password</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="well">
                            <strong>Password Security</strong><br /><br />
                            <span id="chars">At least 8 Characters</span><br />
                            <span id="capital">Contains 1 Capital Letter</span><br />
                            <span id="number">Contains 1 Number</span><br />
                            <span id="match">Both Passwords Match</span><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Didn't request this?
                </div>
                <div class="panel-body">
                    <a href="/Customer/UnauthorizedForgetPasswordRequest?token=@ViewBag.Token" class="btn btn-primary btn-lg btn-block">Click Here to Delete Password Request</a>
                </div>
            </div>
        </div>
    </div>

    }

    <div class="font-md">
        <a href="~/Home/Index"><i class="fa fa-home"></i> Home</a>
    </div>

@section scripts{
    <script src="@Url.Content("/Scripts/PasswordCheck.js")"></script>
}


