@model Northwind.Models.CustomerPasswordForgotten
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password Tool</h2>

<div class="well">
    <form method="post" class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <!-- CompanyName List -->
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, "Company Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control signin-form" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Send Forgotten Password Link</button>
            </div>
        </div>
    </form>
</div>
