
@{
    ViewBag.Title = "ForgotPasswordSent";
}

<h2>Password Sent!</h2>
<div class="well">
    <center>
        The email associated with the company <strong>@ViewBag.Company</strong>, has been sent an email containing information
        on how to reset your password!
        <br /><br />
        @ViewBag.Email
    </center>
</div>

