@{
    ViewBag.Title = "UnauthorizedForgetPasswordRequest";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
else
{
    <div class="well">
        <div class="alert alert-success">Password Reset Request Successfully Removed!</div>
    </div>
}

