@{
    ViewBag.Title = "Signed Out";
}

<h2>You have been signed out of N<i class="fa fa-compass"></i>rthwind</h2>
<hr />
<div class="font-md"><a href="~/Home/Index"><i class="fa fa-home"></i> Home</a></div>
